{{> header}}

<h1>about stuff - kyle kinzey</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, ullam! Sed pariatur incidunt molestias. Facilis
    beatae nobis minima quod aliquid quos laboriosam necessitatibus eos doloribus natus. Optio repellat blanditiis
    veniam.</p>
<p>I am a {{ description }} in the gtcodingbootcamp</p>

{{> footer}}